.container {
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 480px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 40px;
    padding-right: 40px;
    margin-inline: auto;
  }
}

// .container {
//   width: min(90%, 1200px);
//   margin-inline: auto;
// }
