.container {
  max-width: 100%;

  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 480px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1400px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 0 auto;
  }
}
