.logo {
  display: block;
  color: var(--accent-color);
}

.logo__icon {
  width: 270px;
  height: 134px;
  fill: currentColor;
}

@media screen and (max-width: 767.98px) {
  .logo__icon {
    width: clamp(16.88rem, calc(14.53rem + 11.74vw), 23.63rem);
    height: clamp(8.38rem, calc(7.2rem + 5.87vw), 11.75rem);
  }
}
