@use "../utils/mixins" as m;
.logo {
  display: block;
  color: var(--accent-color);
}

.logo__icon {
  width: 270px;
  height: 134px;
  fill: currentColor;
}

@media screen and (max-width: 767.98px) {
  .logo__icon {
    @include m.adaptiv-value(width, 378, 270, 0);
    @include m.adaptiv-value(height, 188, 134, 0);
  }
}
