@use "../utils/mixins" as m;
@use "../utils/placeholders";

// html:has(dialog[open]) {
//   overflow: hidden;
// }

.lock {
  overflow: hidden;
}

.modal {
  width: min(90%, 420px);
  padding: 0;
  background-color: var(--light-bg-color);
  border: none;
  border-radius: 2px;

  &::backdrop {
    background-color: #292e36;
    opacity: 0.8;
  }

  &[open] {
    animation: zoom 0.3s ease-in-out forwards;
  }

  &.hide {
    animation: hide 0.3s ease-in-out forwards;
  }

  &[open]::backdrop {
    animation: backdrop-fade 0.4s ease-in-out forwards;
  }

  &.hide::backdrop {
    animation: backdrop-fade 0.4s ease-in-out backwards;
    animation-direction: reverse;
  }
}

@keyframes zoom {
  0% {
    transform: scale(0.2);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes hide {
  to {
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes backdrop-fade {
  from {
    background: transparent;
    opacity: 0;
  }
  to {
    background: #292e36;
    opacity: 0.8;
  }
}

//content
.modal_overlay {
  padding: 20px;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.modal__title.title {
  @include m.rem-size("font-size", 32px);
}

.close-btn {
  position: relative;
  width: 40px;
  height: 40px;
  line-height: 0;
  background-color: var(--light-bg-color);
  border: 2px solid var(--accent-color);
  border-radius: 50%;

  @include m.transition(background-color);

  & span {
    display: block;
    position: absolute;
    top: 55%;
    left: 51%;
    transform: translate(-50%, -50%);

    font-weight: 400;
    font-size: 1.2rem;
    color: var(--primary-text-color);
  }

  &:hover {
    background-color: var(--accent-color);
  }
}

.modal__form {
  width: min(100%, 400px);
  display: flex;
  flex-direction: column;
  row-gap: 1.2rem;
}

.modal__input {
  @extend %input;
  padding: 16px 24px;

  border: 1px solid var(--border-color);
  border-radius: 2px;

  color: var(--primary-text-color);

  &::placeholder {
    color: var(--border-color);
    opacity: 0;
  }
}

.modal__footer {
  display: flex;
  justify-content: center;
  column-gap: 1rem;
}

.modal__form-btn {
  min-width: 112px;
  padding: 0.8rem 1rem;

  @include m.font(16px, 400, 20px);
  border: none;
  border-radius: 2px;

  @include m.transition(transform);

  &:hover,
  &:focus {
    transform: scale(1.1);
  }
}

.modal__form-btn_light {
  color: var(--primary-text-color);
  background-color: var(--accent-color);
}

.modal__form-btn_dark {
  background-color: var(--primary-text-color);
  color: var(--accent-color);
}

.modal__input-wrapper {
  position: relative;
}

.modal__label {
  position: absolute;
  top: 50%;
  left: 10px;
  padding: 4px 8px 0px;
  line-height: 0;
  transform: translate(0, -50%);
  pointer-events: none;
  transition: 0.3s;
}

.modal__input:focus ~ label,
.modal__input:not(:placeholder-shown) ~ label {
  background-color: var(--light-bg-color);
  color: var(--accent-color);
  translate: 0 -26px;
}
