:root {
  //colors
  --primary-text-color: #292e36;
  --second-text-color: #555555;
  --white-color: #fff;
  --accent-color: #e1b168;
  --dark-bg-color: #292e36;
  --light-bg-color: #fff8f5;
  --border-color: #5c6168;
  // Typography
  --primary-font-family: "Josefin Sans", sans-serif;
  --second-font-family: "Cormorant Infant", serif;

  // Animation
  // --animate-duration: 1500ms;
}
