.feedback__top {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.frame {
  width: 544px;
  height: 285px;
  overflow: hidden;
}
.slider {
  transition: all 0.3s ease-in-out;
}
.feedback__list {
  display: flex;
}

.feedback__li {
  flex: 0 0 auto;
  width: 544px;
  height: 285px;

  color: var(--white-color);
  background-color: var(--dark-bg-color);
  border: 2px solid teal;
}

.arrow-left {
  width: 100px;
  height: 100px;
  border-right: 50px solid var(--dark-bg-color);
  border-bottom: 50px solid transparent;
  border-top: 50px solid transparent;
  border-left: 50px solid transparent;

  cursor: pointer;
}

.arrow-right {
  width: 100px;
  height: 100px;
  border-left: 50px solid var(--dark-bg-color);
  border-bottom: 50px solid transparent;
  border-top: 50px solid transparent;
  border-right: 50px solid transparent;

  cursor: pointer;
}

.feedback__bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.feedback__btn {
  width: 15px;
  height: 15px;

  border: 2px solid teal;
  border-radius: 50%;
  cursor: pointer;
}

.feedback__btn-active {
  background-color: teal;
}
