@use "../utils/mixins" as m;

.hero {
  padding-top: 60px;
  padding-bottom: 0;
  background-color: var(--dark-bg-color);
}

.hero__right {
  border-style: solid solid none;
  border-width: 30px;
  border-color: hsla(0, 0%, 100%, 0.1);
  border-top-left-radius: 628px;
  border-top-right-radius: 628px;
}
.hero__title {
  margin-bottom: 1rem;
  @include m.font(40px, 700, 44px);
  letter-spacing: 0.01em;
  font-family: var(--second-font-family);
}

.hero__btn {
  display: inline-block;
  min-width: 0;
}

@media screen and (min-width: 480px) {
  .hero__title {
    @include m.adaptiv-value(font-size, 80, 40, 0);
  }
}

@media screen and (max-width: 714.98px) {
  .hero__left {
    margin-bottom: 40px;
    text-align: center;
  }
  .hero__right {
    max-width: 480px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 715px) {
  .hero__wrapper {
    display: flex;
    column-gap: 2rem;
  }
  .hero__left {
    flex: 0 1 50%;
  }
  .hero__right {
    flex: 0 1 50%;
    max-width: 633px;
    border-width: 20px;
  }
}
